{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load staticfiles %}

{% block jquiry %}
    {#        alert("Hello");#}
    $singupCount = 5 ;
    if($singupCount > 0 && $singupCount <= 5){
    $("#count5").css("width", "80%").attr("aria-valuenow", "80" ).text("80%");
    }
    {#    $(".progress-bar").css("width", "80%").attr("aria-valuenow", "80" ).text("80%");#}
{% endblock %}
{% block content %}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    <i class="fa fa-facebook"></i>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Project name</a>
            </div>
        </div>
    </div><!--/.nav-collapse -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <p class="container">
            <div class="row">
                <h1>
                    Invite Friends &amp; Earn Rewards </h1>
                <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <div class="well" style="background-color:white;">
            {{ ref_url }}
        </div>
        <div class="col-sm-5">
            <img src="{% static 'img/Operator-koll-centra-ap8.png' %}" class="img-fluid img-rounded"/>
        </div>
    </div>
    </div>
    <div>
        <i class="fa fa-facebook-square fa-5x" style="border-left-width: inherit"></i>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
        <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
        <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
        <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
    </div>
    <div class="progress">
        <div class="progress-bar" id="count5" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width:0%">
            0%
        </div>
    </div>
    <div class="container">
        {{ ref_id }} <br/>
        {{ count }} <br/>
        {{ ref_url }} <br/>
    </div>
{% endblock %}